
{% extends 'base.html' %}

{% block title %}{{ poll.question }}{% endblock %}

{% block menu %}
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">НА ГЛАВНУЮ</a>
{#        <a href="{% url 'task_update' poll.pk %}" class="navbar-brand">РЕДАКТИРОВАТЬ</a>#}
{#        <a href="{% url "task_delete" poll.pk %}" class="navbar-brand">УДАЛИТЬ</a>#}
    </nav>
{% endblock %}

{% block content %}
    <h1 class="mb-5">{{ poll.question }}</h1>
    <p class="text-center">Created at <b>{{ poll.created_at }}</b></p>
{#    <p class="pre text-center">{{ task.text }}</p>#}
{#    <p class="text-center">Статус задачи: <b>{{ task.status }}</b></p>#}
{#    <p class="text-center">Тип задачи: <b>{{ task.type }}</b></p>#}

{% endblock %}